.box1{
    margin: 5px;
    display: flex;
    align-items: center;
}

.box2{
    margin: 5px;
    display: flex;
    align-items: center;
}

.frwd{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.rwnd{
    height: 25px;
    width: 25px;
    cursor: pointer;
}